<header class="header">
    <div class="logo">
      <a href="#">Eventify</a>
      <!-- <div class="search_box">
        <input type="text" placeholder="Search Events" />
        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
      </div> -->
    </div>
  
    <div class="header-icons">
      <!-- <fa-icon [icon]="faBell"></fa-icon> -->
      <div class="account">
        <img src="/images/user2.svg" alt="User Image" />
        <h4>{{ username }}</h4>
      </div>
    </div>
  </header>
  
  <div class="container">
    <nav>
      <div class="side_navbar">
        <a href="#" class="active">
          <fa-icon [icon]="faTachometerAlt"></fa-icon> <span>Dashboard</span>
        </a>
        <a href="#">
          <fa-icon [icon]="faUser"></fa-icon> <span>Profile</span>
        </a>
        <a href="/events">
          <fa-icon [icon]="faCalendarAlt"></fa-icon> <span>Events</span>
        </a>
        <a href="/event-registration">
          <fa-icon [icon]="faEdit"></fa-icon> <span>Event Registration</span>
        </a>
        <a href="/event-registration">
            <fa-icon [icon]="faEdit"></fa-icon> <span>Users</span>
          </a>
          <a href="/event-registration">
            <fa-icon [icon]="faEdit"></fa-icon> <span>Add Events</span>
          </a>
        <div class="logout">
          <a href="#" (click)="logout($event)">
            <fa-icon [icon]="faSignOutAlt"></fa-icon> Logout
          </a>
        </div>
        
      </div>
    </nav>