<app-sidebar></app-sidebar>    

<div class="user-container">
  <h2>Dashboard</h2>
  <h3>User Details</h3>

  <!-- Search Bar -->
  <div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search">
    <button (click)="searchUsers()">Search</button>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>    

  <!-- Reusable Table Component -->
  <app-table 
    [columns]="columns" 
    [data]="users" 
    [actions]="true"
    (edit)="updateUser($event)"
    (delete)="deleteUser($event)">
  </app-table>
</div>
