<app-user-sidebar></app-user-sidebar> 
  

  <div class="main-body">
   
    <div class="promo_card">
      <h1>Welcome to Eventify, {{ username }}!</h1>
      <span>Your personalized dashboard is ready to help you manage your events efficiently.</span>
    </div>

    <div class="history_lists">
      <div class="list1" style="flex: 1;"> 
        <div class="row">
          <h4>Event History</h4>
          <a href="#">See all</a>
        </div>
        <app-table
        *ngIf="registeredEvents.length > 0"
        [columns]="tableColumns" 
        [data]="registeredEvents"
        [showSearch]="false"
        [actions]="true"
        [showCancelButton]="true" 
        (cancelEvent)="cancelRegistration($event)">
      </app-table>
      
      <p *ngIf="registeredEvents.length === 0">No events found.</p>
      
      </div>
    </div>
  </div>



  